<div id="cart-icon-bubble" class="header__action header__action--cart visually-hidden" role="navigation" aria-hidden="true">
  <a href="{{ routes.cart_url }}" class="header__action-link" aria-label="{{ 'sections.cart.title' | t | default: 'Cart' }}">
    {% render 'icon-cart' %}
    <span class="visually-hidden">{{ 'sections.cart.title' | t | default: 'Cart' }}</span>
    {% if cart.item_count > 0 %}
      <span class="cart-count-bubble" aria-live="polite">
        <span aria-hidden="true">{{ cart.item_count }}</span>
        <span class="visually-hidden">{{ 'sections.cart.cart_items' | t: count: cart.item_count | default: cart.item_count }}</span>
      </span>
    {% endif %}
  </a>
</div>

{% schema %}
{
  "name": "Cart icon bubble",
  "settings": []
}
{% endschema %}
